* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    height: 100vh;
}

.rightpane,
.leftpane {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}


.leftpane {
    width: 100%;
}

.rightpane {
    width: 0%;
}

.rightpane-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.message-header {
	background-color:black;
	flex: 0 0 50px;
    width: 100%;
    color: white;
}

.message-content {
	background-color: white;
	flex: 1;
    overflow: auto;
}

.message-footer {
	background-color: black;
	display: flex;
    flex: 0 0 50px;
}

#message {
    width: 100%;
}

.addrow {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

.msgreceived {
    background-color: lightblue;
}

.msgsent {
    background-color: lightgrey;
}