<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Dropoff</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-7">
                <div class="row">
                    <div class="col text-center">
                        <h1>{{restaurant.restaurant_name}}</h1>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col text-left">
                        Pickup Time: {{event.date_time}}
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col text-left">
                        Pickup Location: {{event.location}}
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col text-left">
                        Menu:
                    </div>
                </div>
                <form action="/user/{{event.id}}/storeOrder" method="POST">
                    <div class="row justify-content-center">
                        <div class="col text-left">
                            <table class="table table-striped">
                                <thead>
                                    <th>Item</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                </thead>
                                <tbody>
                                    {% for item in menu %}
                                    <tr>
                                        <td>{{item.item_title}}</td>
                                        <td>{{item.item_description}}</td>
                                        <td>${{item.item_price}}</td>
                                        <td><input type="number" min="0" value="0" name="item-{{item.id}}"></td>
                                    </tr>
                                    {% endfor %}    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col text-right">
                            <Button type="submit" class="btn btn-primary">Review Order</Button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
       
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>