<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% load static %}
    <img src="{% static 'images/icon.png'%}" alt="" style="width: 20px; height: 20px; margin-right: 10px;" >
    <a class="navbar-brand" href="restaurant_login">FoodDrop</a>
    <!-- <h1>Restaurant Name</h1>       Not sure how to space
    <a href="">Account</a>
    <a href="">Logout</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="restaurant_event">Events<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="restaurant_menu">Menus</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Items
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="restaurant_item">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
            </li>
        </ul>
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="restaurant_menu">Welcome John!!</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="btn btn-outline-primary" href="">Account</a>
            </li>
            <li class="nav-item ml-2">
                <a class="btn btn-outline-danger nav-link" href="">Logout</a>
            </li>
        </ul>
    </div>
</nav>